@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}

.nav-container {
  background-color: #222831;

  a {
    color: #eeeeee;
  }
}
header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  .logo {
    color: #ffd369;
    font-weight: bold;
  }
  ul {
    display: flex;
    a {
      display: block;
      padding: 0 1em;
    }
  }
}
.social-header,
.hero-design {
  display: none;
}
.social-header a:hover {
  svg {
    fill: #ffd369;
  }
}
.hero {
  background-color: #393e46;
  color: #eeeeee;
  display: grid;
  text-align: center;
  padding: 4em;
}
.meet {
  color: #ffd369;
  font-weight: bold;
}
.scroll {
  margin-top: 2em;
}
section {
  padding: 4em 2em;
  text-align: center;
}
.portfolio {
  background: #eeeeee;
}
.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}
.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffd369;
  font-size: 1.3 em;
}
.featured-desc {
  margin-bottom: 3em;
  line-height: 1.5em;
}
.skills {
  background-color: #393e46;
}
.skills-container {
  display: grid;
  gap: 1em;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(auto, 500px));
  grid-auto-rows: 350px;
}
.skills-container .card {
  background-color: #eeeeee;
  padding: 2em;
  border-radius: 1em;
  .icon-container {
    height: 100 px;
    width: 100 px;
    display: grid;
    place-content: center;
    margin: 0 auto;
  }
  .skill-title {
    font-weight: bold;
  }
  .skill-content li {
    margin: 0;
    padding-bottom: 0;
    padding-top: 1em;
  }
}
.footer-container {
  background: #222831;
  .footer-icon-container {
    height: 100 px;
    width: 100 px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .footer-a {
    padding: 1em 1em 0;
  }
}
.footer-a:hover {
  svg {
    fill: #ffd369;
  }
}
.credits {
  margin: 0;
  padding-bottom: 2em;
  text-align: center;
  color: #eeeeee;
  font-weight: lighter;
}
.button {
  display: inline-block;
  border-radius: 2em;
  background-color: #ffd369;
  border-style: none;
  padding: 0.5em 1em;
  color: #222831;
}
.button:hover {
  transform: scale(1.05, 1.05);
}

@media only screen and (min-width: 800px) {
  .portfolio {
    text-align: left;
  }
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }
  .portfolio-left {
    display: grid;
    place-content: center;
  }
  .skills-container .skills-ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-columns: min-content;
    grid-gap: 1em;
  }
}
@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    header {
      background: #222831;
    }
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
    display: block;
    ul {
      display: flex;
      justify-content: space-between;
      width: 7em;
      float: right;
    }
  }
  section {
    padding: 4em;
  }
  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
    .content {
      background: #393e46;
      text-align: left;
      padding: 6em 8em 6em 4em;
      h1 {
        font-size: 3em;
      }
    }
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
  .skills-ul {
    padding-left: 50px;
  }
  .skills .skills-ul li {
    max-width: 400px;
  }
}
@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}
@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}
.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}
@keyframes circleAnim {
  to {
    transform: translateY(26px);
  }
}
